<p id="notice"><%= notice %></p>

<!-- модальное окно с выбором даты-->
<div id="dialog-confirm" title="Input your deadline here:">
  <p>Data:<input type="text" id="datepicker"></p>
</div>

 <!--формирование таблиц в цикле с лимитом в 2 проекта -->
  <% @projects.order(:id).each do |project| %>
<div class="table_container container">
  <div class="table-responsive">
   
    <table class="table-hover table-bordered">
      <!-- Шапка таблицы --> 
      <thead>
        <!-- постраничный выввод для проэктов с помощью гема will_paginate -->
        <!-- <div class="will_paginate_projects"><%#= page_entries_info @projects %><%#= will_paginate @projects, :page_links => false%></div> -->
       
       <!-- Название проекта  -->
       <tr class = "table_head_pname" data-project_id="<%= project.id %>">
          <th colspan="2"><i class="glyphicon glyphicon-list-alt"></i></th>
          <th colspan="2" class="pname"><%= project.name %></th>  
          <td colspan ="2" class="switch"></th>
          <th class="p_onlink"><i class="glyphicon glyphicon-pencil edit_p"><div class="divider_p"></div></i></th>
          <th class="p_onlink"><i class="glyphicon glyphicon-trash delete_p"></i></th>
        </tr>
    
        <!-- Добавление новых задач -->
        <tr class = "table_head_add">
          <th colspan="2"><i class="glyphicon glyphicon-plus"></i></th>         
          <th><input type="text" class="form-control" placeholder="Start typing here to create a task..."></th>
          <th colspan="3"><%= button_tag 'Add Task', class: 'btn btn-success' %></th>
        </tr>
      </thead>

    <!-- Тело таблицы/перечень задач проекта с лимитом отображения в 4 задачи  -->
    <tbody class="table-hover">

      <% @tasks.where(project_id: project.id).order(:status,:id).each do |task| %>
        
        <!-- список задач -->      
        <tr class="active" data-task_id="<%= task.id %>">
          <td class="task_checkbox"><%= check_box_tag :task, 1, task.status %></td>
        
          <!-- приоритет задач -->
          <td class ="priority">          
              <!-- <div></div>
              <div></div>
              <div></div>
              <div></div> --> 
          </td> 

          <td class="tasks_name"><%= task.name %></td>
          <td colspan ="3" class="switch">         
            <div id="getting-started" data-task_deadline="<%= task.deadline %>"><%= task.deadline %></div> <!-- jquery.countdown плагин -->         
          </td>
          <td class="t_onlink"><i class="glyphicon glyphicon-chevron-up up"></i><i class="glyphicon glyphicon-chevron-down down"></i></td>
          <td class="t_onlink"><i class="glyphicon glyphicon-pencil edit_t"><div class="divider_t"></div></i></td>
          <td class="t_onlink"><i class="glyphicon glyphicon-trash delete_t"><div class="divider_t"></div></i></td>
        </tr>
      <% end %>

      <!-- переход по страницам с задачами -->
      <!-- <tr class="not_t">  
        <td colspan="8" class="row_paginate">
          <i class="glyphicon glyphicon-chevron-down"></i>
          <div class="will_paginate_tasks">
            <%#= will_paginate @tasks, :param_name => :tasks_page, renderer: BootstrapPagination::Rails%>
          </div>
        </td>
      </tr> -->

    </tbody>
    </table>
   </div>
</div>

<br><br>
<% end %>
<!-- Кнопка добавления нового проекта  -->
<%= button_tag '<div><i class="glyphicon glyphicon-plus"></i> Add TODO List</div>'.html_safe, class: "btn btn-primary"%>
<br><br>

<!-- выпадающее меню для запросов -->
 <div class="dropdown" id="query">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Query
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a data-target="#" href="/tasks?status">All statuses alphabeticaly ordered</a></li>
    <li><a data-target="#" href="/tasks?id">All tasks in each project, order by task count desc</a></li>
    <li><a data-target="#" href="#">All tasks in each project, order by project name desc</a></li>
    <li><a data-target="#" href="#">4</a></li>
    <li><a data-target="#" href="#">5</a></li>
    <li><a data-target="#" href="#">6</a></li>
    <li><a data-target="#" href="#">7</a></li>
    <li><a data-target="#" href="#">8</a></li>
  </ul>
</div>






