<p id="notice"><%= notice %></p>

 <!--первая таблица -->
  <% Project.all.limit(2).each do |project| %>
<div class="table_container container">
  <div class="table-responsive">
   
    <table class="table-hover table-bordered">
      <thead>
      <!-- Шапка таблицы/проекты -->
        
      <%#= render partial: "/projects/index", collection: @projects%>
     
       <tr class = "table_head_pname">
          <th colspan="2"><i class="glyphicon glyphicon-list-alt"></i></th>
          <th colspan="2"><%= project.name %></th>
          <td class="p_onlink"><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_project_path(project) %></td>
          <th class="p_onlink"><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    
        <!-- Добавление новых задач -->
        <tr class = "table_head_add">
          <th colspan="2"><i class="glyphicon glyphicon-plus"></i></th>         
          <th><input type="text" class="form-control" placeholder="Start typing here to create a task..."></th>
          <th colspan="3"><%= link_to 'Add Task', new_task_path, class: 'btn btn-success' %></th>
        </tr>
      </thead>

    <!-- список задач -->
    <tbody class="table-hover">
      <% @tasks.where(project_id: project.id).order("status DESC").limit(4).each do |task| %>
        <tr class="active">
          <td><%= check_box_tag :task, 1, task.status %></td>
          <td class ="lline"></td>
          <td class="tasks_name"><%= task.name %></td>
          <td colspan ="3" class="t_menu_replace"></td>
          <td class="t_onlink"></td>
          <td class="t_onlink"><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_task_path(task) %></td>
          <td class="t_onlink"><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>                 
    </tbody>
    </table>
   </div>
</div>
<br><br>
<% end %> 
<br>

  <button type="button" class="btn btn-primary">
    <div><i class="glyphicon glyphicon-plus"></i> Add TODO List</div>
  </button> 
<br><br><br><br>




