<p id="notice"><%= notice %></p>

 <!--формирование таблиц в цикле с лимитом в 2 проекта -->
  <% Project.all.order("id").limit(2).each do |project| %>
<div class="table_container container">
  <div class="table-responsive">
   
    <table class="table-hover table-bordered">
      <!-- Шапка таблицы --> 
      <thead>
       <!-- Название проекта  -->
       <tr class = "table_head_pname" data-project_id="<%= project.id%>">
          <th colspan="2"><i class="glyphicon glyphicon-list-alt"></i></th>
          <th colspan="2"><%= project.name %></th>
          <td colspan ="2" class="switch"></th>
          <th class="p_onlink"><i class="glyphicon glyphicon-pencil edit_p"></i></th>
          <th class="p_onlink"><i class="glyphicon glyphicon-trash delete_p"></i></th>
        </tr>
    
        <!-- Добавление новых задач -->
        <tr class = "table_head_add">
          <th colspan="2"><i class="glyphicon glyphicon-plus"></i></th>         
          <th><input type="text" class="form-control" placeholder="Start typing here to create a task..."></th>
          <th colspan="3"><%= button_tag 'Add Task', class: 'btn btn-success' %></th>
        </tr>
      </thead>

    <!-- Тело таблицы/перечень задач проекта с лимитом отображения в 4 задачи  -->
    <tbody class="table-hover">
      <% @tasks.where(project_id: project.id).order("status DESC").limit(4).each do |task| %>
        
        <!-- список задач -->      
        <tr class="active" data-task_id="<%= task.id %>">
          <td class="task_checkbox"><%= check_box_tag :task, 1, task.status %></td>
          <td class ="lline"></td>
          <td class="tasks_name"><%= task.name %></td>
          <td colspan ="3" class="switch">         
            <div id="getting-started"></div> <!-- jquery.countdown плагин -->         
          </td>
          <td class="t_onlink"><span class="ui-icon ui-icon-carat-2-n-s"></span></td>
          <td class="t_onlink"><i class="glyphicon glyphicon-pencil edit_t"></i></td>
          <td class="t_onlink"><i class="glyphicon glyphicon-trash delete_t"></i></td>
        </tr>

      <% end %>
    </tbody>
    </table>
   </div>
</div>
<br><br>
<% end %> 
<br>

<!-- Кнопка добавления нового проекта  -->
<%= button_tag '<div><i class="glyphicon glyphicon-plus"></i> Add TODO List</div>'.html_safe, class: "btn btn-primary"%>

<br><br><br>




